#skip-link {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 8px;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    font-size: 30px;
}

nav ul li a.current {
    font-weight: bold;
    text-decoration: underline;
    color: purple;
}
h1 {
    font-size: 2.5rem;
    font-family: Arial, sans-serif; 
    font-weight: bold; 
    color: #333; 
    margin: 20px 0; 
    line-height: 1;
}
p {
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 10px 0;
    padding: 0;
    line-height: 1.5;
}
h2 {
    font-size: 2rem;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #333;
    margin: 15px 0;
    line-height: 1.2;
}
h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin: 15px 0;
    line-height: 1.2;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
video {
    max-width: 100%;
    height: auto;
    display: block;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
ul, li, ol {
    font-family: Arial, sans-serif;
}

ul {
    list-style-type: disc;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 5px;
}
ol {
    margin-bottom: 10px;
}
footer {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    color: #666;
}
div{
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 10px 0;
    padding: 0;
    line-height: 1.5;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px; 
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    grid-gap: 10px;
}

.grid-container > div {
    background-color: #f2f2f2; 
    padding: 20px; 
}
@keyframes example {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .animated-element {
    animation: example 1s infinite;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .animated-element {
      animation: none;
    }
  }
h3 {
    font-size: 1.3rem;
}
a {
    color: #007bff;
}
li {
    margin-bottom: 8px;
}
p {
    font-size: 18px;
}
strong {
    font-weight: normal;
}
img {
    border-radius: 5px;
}
footer {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
nav ul li a {
    padding: 5px 10px;
}