#skip-link {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    font-size: 30px;
}

nav ul li a.current {
    font-weight: bold;
    text-decoration: underline;
}
h1 {
    font-size: 2.5rem;
    font-family: Arial, sans-serif; 
    font-weight: bold; 
    color: #333; 
    margin: 20px 0; 
    line-height: 1.2;
}
p {
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 10px 0;
    padding: 0;
    line-height: 1.5;
}
h2 {
    font-size: 2rem;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #333;
    margin: 15px 0;
    line-height: 1.2;
}
h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin: 15px 0;
    line-height: 1.2;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
video {
    max-width: 100%;
    height: auto;
    display: block;
}
ul, li, ol {
    font-family: Arial, sans-serif;
}

ul {
    list-style-type: disc;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 5px;
}
ol {
    margin-bottom: 10px;
}
footer {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    color: #666;
}
div{
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 10px 0;
    padding: 0;
    line-height: 1.5;
}
.container {
    display: grid;
    grid-template-columns: 1fr; /* One column */
    grid-gap: 10px; /* Smaller gap between grid items */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid layout with tighter spacing */
    grid-gap: 10px; /* Smaller gap between grid items */
}

/* Style for individual pet content */
.grid-container > div {
    background-color: #f2f2f2; /* Background color for each grid item */
    padding: 20px; /* Padding around each grid item */
}